@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,500,700');


body {
  font-family: 'Cormorant Garamond', serif;
  margin: 30px;
  h1, h2, h3, h4, h5, p {
    margin: 0;
  }
}

.box {
  height: 20px;
  background: blue;
}

.screen {
  .screen-frame {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    background: white;

    #loading-circle {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 0%;
      height: auto;
      overflow: hidden;
      cursor: pointer;
      img {
        width: 100%;
      }
    }

    #spotlight {
      opacity: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 20%;
      height: auto;
      transform: scaleY(1);
      cursor: pointer;
    }

    #circle-shadow {
      opacity: 0;
      position: absolute;
      left: 50%;
      top: 79.6%;
      width: 20.2%;
      height: auto;
      transform: scaleY(1);
      cursor: pointer;
    }

    #pop-up-mask {
      opacity: 0;
      position: absolute;
      left: 50%;
      top: 90.4%;
      width: 20.2%;
      height: auto;
      transform: scaleY(1);
      cursor: pointer;
    }

  }
}

.credits {
  opacity: 0;
  margin-top: 25px;
  #name-title {
    text-align: center;
  }
}
