@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,500,700');


body {
  font-family: 'Cormorant Garamond', serif;
  padding: 30px;
  max-width: 970px;
  margin: 0 auto;
  h1, h2, h3, h4, h5, p {
    margin: 0;
  }
}

.box {
  height: 20px;
  background: blue;
}

.screen {
  overflow: hidden;
  padding: 0;
  .screen-frame {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    background: white;

    #loading-circle {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 0%;
      height: auto;
      overflow: hidden;
      cursor: pointer;
      img {
        width: 100%;
      }
    }

    #spotlight {
      display: none;
      opacity: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 20%;
      height: 35.75%;
      transform: scaleY(1);
      z-index: 5;
      cursor: pointer;
      #spotlight-svg {
        position: absolute;
        width: 100%;
        height: auto;
        transform: scaleY(1);
      }
      #dart-board {
        transform: translateX(-1%) translateY(-99.5%);
        width: 102%;
      }
      #circle-shadow {
        display: none;
        opacity: 0;
        position: absolute;
        top: 75%;
        width: 101.1%;
        left: -1px;
        height: auto;
        cursor: pointer;
      }
      #minute-hand,
      #hour-hand {
        height: 100%;
        position: absolute;
        left: 47.4%;
        display: none;
      }
    }

    #pop-up-mask {
      display: none;
      opacity: 0;
      position: absolute;
      left: 39.9%;
      top: 0%;
      width: 20.2%;
      height: auto;
      transform: scaleY(1);
      cursor: pointer;
    }

    #basketball {
      width: 15%;
      height: 26%;
      border-radius: 120px;
      background: orange;
      position: absolute;
      overflow: hidden;
      left: 42.6%;
      bottom: 1%;
      #basketball-lines {
        bottom: 5px;
        position: relative;
        width: 161%;
      }
    }

    #egg {
      #egg-white {
        position: absolute;
      }
      #egg-yolk {
        position: absolute;
      }
    }

    #tractor-beam {
      position: absolute;
      left: 39.8%;
      top: -18.3%;
      width: 20.3%;
      opacity: 0.9;
    }

    #abductee {
      position: absolute;
      left: 45.8%;
      top: 47.7%;
      width: 8.3%;
      opacity: 0;
    }

    #record {
      #record-shine,
      #record-lines,
      #record-pin,
      #record-needle,
      #speaker-on,
      #speaker-off {
        position: absolute;
      }
      #record-shine {
        width: 22%;
        left: 38.8%;
        top: -15%;
        display: none;
      }
      #record-lines {
        width: 70%;
        left: 15%;
        bottom: 21%;
      }
      #record-pin {
        width: 2.3%;
        z-index: 7;
        bottom: 34%;
        left: 48.7%;
        display: none;
      }
      #record-needle {
        width: 68%;
        top: 12%;
        left: 79%;
        cursor: pointer;
      }
      #speaker-on {
        cursor: pointer;
        opacity: 0;
        left: 90.2%;
        height: 33px;
        bottom: 8%;
      }
      #speaker-off {
        cursor: pointer;
        opacity: 0;
        left: 90%;
        height: 33px;
        bottom: 8%;
      }
    }

    #darts {
      .dart {
        position: absolute;
        width: 8%;
        top: 40%;
        left: -10%;
        z-index: 2;
      }
    }
    #flashlight-holder {
      display: none;
      position: absolute;
      height: 20%;
      width: 33.2%;
      top: 101%;
      left: 46.6%;
      z-index: 1;
      #flashlight {
        position: absolute;
        width: 68%;
        left: 20.5%;
      }
      #flashlight-button {
        position: absolute;
        left: 22%;
        top: 145%;
        width: 13%;
        cursor: pointer;
      }
      #flashlight-beam {
        position: absolute;
        width: 115%;
        left: -2.9%;
        top: -600%;
        opacity: 0;
        display: none;
      }
      #flashlight-mask {
        position: absolute;
        width: 117%;
        left: 31%;
        top: 178%;
        opacity: 0;
        display: none;
      }
    }
    #mouse {
      position: absolute;
      width: 16%;
      bottom: -16%;
      right: 9%;
      display: none;
    }
  }
}

.credits {
  margin-top: 25px;
  #about-credit {
    opacity: 0;
  }
  #title-credit {
    opacity: 0;
  }
  #contact-credit {
    opacity: 0;
  }
}
