@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,500,700');

body {
  font-family: 'Cormorant Garamond', serif;
  padding: 15px 30px;
  max-width: 970px;
  margin: 0 auto;
  background-color: #fff;

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: #000;
    margin: 0;
  }
}

a {
  color: #D93732;
  text-decoration: none;
}

.box {
  height: 20px;
  background: blue;
}

.screen {
  overflow: hidden;
  padding: 0;

  .screen-frame {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    background: #fff;

    #loading-circle {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 0;
      height: auto;
      overflow: hidden;
      cursor: pointer;

      img {
        width: 100%;
      }
    }

    #white-circle {
      display: none;
      opacity: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 20%;
      height: 35.75%;
      transform: scaleY(1);
      z-index: 5;
      cursor: pointer;

      #white-circle-svg {
        position: absolute;
        width: 100%;
        height: auto;
        transform: scaleY(1);
      }

      #dart-board {
        transform: translateX(-1%) translateY(-99.5%);
        width: 102%;
      }

      #circle-shadow {
        display: none;
        opacity: 0;
        position: absolute;
        top: 75%;
        width: 101.1%;
        left: -1px;
        height: auto;
        cursor: pointer;
      }

      #hour-hand,
      #minute-hand {
        height: 100%;
        position: absolute;
        left: 47.4%;
        display: none;
      }
    }

    #pool-cue {
      position: absolute;
      width: 5%;
      top: 100%;
      left: 47.4%;
      z-index: 5;
    }

    #pop-up-mask {
      display: none;
      opacity: 0;
      position: absolute;
      left: 39.9%;
      top: 0;
      width: 20.2%;
      height: auto;
      transform: scaleY(1);
      cursor: pointer;
    }

    #basketball {
      width: 15%;
      height: 26%;
      border-radius: 120px;
      background: orange;
      position: absolute;
      overflow: hidden;
      left: 42.6%;
      bottom: 1%;

      #basketball-lines {
        bottom: 5px;
        position: relative;
        width: 161%;
      }
    }

    #egg {
      #egg-white {
        position: absolute;
      }

      #egg-yolk {
        position: absolute;
      }
    }

    #ufo {
      position: absolute;
      width: 89%;
      top: -31%;
      left: 5.4%;
      z-index: 3;
    }

    #tractor-beam {
      position: absolute;
      left: 39.8%;
      top: -18.3%;
      width: 20.3%;
      opacity: 0.9;
    }

    #abductee {
      position: absolute;
      left: 45.8%;
      top: 47.7%;
      width: 8.3%;
      opacity: 0;
    }

    #record {
      width: 100%;
      position: absolute;
      height: 100%;
      transform: rotate(0deg);
      z-index: 1;
      display: none;

      #record-lines,
      #record-shine,
      #speaker-off,
      #speaker-on {
        position: absolute;
      }

      #record-shine {
        width: 22%;
        left: 38.8%;
        top: -15%;
        opacity: 0.6;
        display: none;
      }

      #record-lines {
        width: 73.9%;
        left: 13.1%;
        top: -6.3%;
      }

      #spotlight-glass {
        position: absolute;
        width: 20%;
        z-index: 2;
        left: 40%;
        top: 53.9%;
        display: none;
        cursor: pointer;
      }

      #speaker-off,
      #speaker-on {
        cursor: pointer;
        opacity: 0;
        left: 4%;
        height: 35px;
        top: 5%;
      }
    }

    #record-pin {
      position: absolute;
      width: 2.3%;
      z-index: 7;
      bottom: 34%;
      left: 48.7%;
      display: none;
      cursor: pointer;
    }

    #record-needle {
      z-index: 3;
      position: absolute;
      width: 68%;
      top: 12%;
      left: 79%;
      cursor: pointer;
    }

    #darts {
      .dart {
        position: absolute;
        width: 8%;
        top: 40%;
        left: -10%;
        z-index: 2;
      }
    }

    #spotlight-holder {
      position: absolute;
      height: 20%;
      width: 33.2%;
      top: 105%;
      left: -11%;

      #spotlight {
        position: absolute;
        width: 68%;
        left: 14.5%;
        z-index: 2;
        transform: rotate(50deg);
      }

      #spotlight-base {
        position: absolute;
        width: 28%;
        left: 9.5%;
        z-index: 2;
        top: 91%;
      }

      #spotlight-glass {
        position: absolute;
        width: 60%;
        z-index: 10;
        left: 24%;
        top: 6%;
        opacity: 0;
      }

      #spotlight-beam {
        position: absolute;
        top: -661%;
        left: 116%;
        transform: rotate(50deg);
        z-index: 3;
        opacity: 0;
        width: 115%;
        display: none;
      }
    }

    #spotlight-lever {
      position: absolute;
      height: 58%;
      top: 101%;
      left: 61%;
      cursor: pointer;
    }

    #mouse {
      position: absolute;
      width: 16%;
      bottom: -16%;
      right: 9%;
      display: none;
    }
  }
}

.credits {
  h1 {
    font-size: 2.3em;
  }
  margin-top: 25px;

  p {
    font-size: 1.5em;
    margin: 10px 0;
  }

  .credit {
    display: none;
  }
}